# Ignore Eclipse project metadata
.metadata/
*.log
*.tmp

# Eclipse specific files
.classpath
.project
.settings/
bin/
target/

# React / Node.js
node_modules/
build/
dist/
.env

# OS-specific files
.DS_Store
Thumbs.db

# IDE specific (VS Code)
.vscode/
